<html>
<head>
<meta charset="utf-8"/>
<title>FriendGroup - Login/Signup</title>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="scripts/cookie-parser.js"></script>
<link rel="stylesheet" type="text/css" href="styles/login.css">
<link rel="shortcut icon" href="../imgs/favico.png"
</head>
<body style="display: none;">
<h1 id="header">Welcome to FriendGroup!</h1>
<div id="wrapper">
<div>
</div>
<div id="form">
	<div>
	</div>
	<div id="content">
		<input id="user" class="input" type="text" placeholder="Enter Email..." v-model="user">
  	<input id="pass" class="input" type="password" placeholder="Enter Password..." v-model="pass">
  	<button id="submit" @click="login" >Login</button><br>
	</div>
	<div>
	</div>
</div>
<div>
</div>
<a style="color: #2b2b2b; text-decoration: underline" @click="forgotPassword()">Forgot your password?</a>
<br><a style="color: #2b2b2b" href="mailto:jsimonson2013@gmail.com?subject=I%20Would%20Like%20an%20Account&body=Hey%20Jake%2C%0D%0DI%20need%20you%20to%20make%20me%20an%20account%2E%0D%0DThanks%2E%0D%0D%0D">Want an account?</a>
</div>
</body>
<script src="scripts/login.js"></script>
</html>
