<html>
<head>
<meta charset="utf-8"/>
<title>Welcome to FriendGroup!</title>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="scripts/cookie-parser.js"></script>
<link rel="stylesheet" type="text/css" href="styles/login.css">
<link rel="shortcut icon" href="../imgs/favico.png"
</head>
<body>
<h1 id="header">Welcome to FriendGroup!</h1>
<div id="wrapper">
<div>
</div>
<div id="form">
	<div>
	</div>
	<div id="content">
	<input id="user" type="text" placeholder="Enter Username..." v-model="user">
    	<input id="pass" type="password" placeholder="Enter Password..." v-model="pass">
        <button id="submit" @click="login" >Login</button><br>
	</div>
	<div>
	</div>
</div>
<div>
</div>
</div>
<a href="mailto:jsimonson2013@gmail.com?subject=I%20Forgot%20My%20Password&body=Hey%20Jake%2C%0D%0DI%20need%20you%20to%20send%20me%20my%20password%2E%0D%0DThanks%2E%0D%0D%0D">Forgot your password?</a>
</body>
<script src="scripts/login.js"></script>
</html>
