<html>
<head>
<meta charset="utf-8"/>
<title>Comments</title>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<link rel="stylesheet" type="text/css" href="../styles/feed.css">
<link rel="shortcut icon" href="../imgs/favico.png"
<head>
<body>
<div id="banner">
  <h1 class="banner-header">Ex Roomies :'( Still Besties :)</h1>
  <div id="banner-links">
    <a class="banner-link" href="../html/feed-template.html">Home</a>
    <a class="banner-link" href="../html/profile-template.html">My Profile</a>
    <a class="banner-link" href="../html/submit-comment.html">New Comment</a>
  </div>
</div>
<div  id="wrapper">
<div id="comment-list">
<p v-if="comments.length < 1" style="font-family: Helvetica; font-size: 18px">There are no comments for this post... Be the first to comment by clicking that link at the top.</p>
<div v-for="comment in comments" v-if="comment.content" class="feed-post">
  <h3 class="comment-content">{{ body(comment.content) }}</h3>
  <p class="comment-stats">Commented by <a class="author">{{ comment.author }}<span class="tooltip" v-if="ready">Score: {{ getScore(comment.author) }}</a> on {{ formattedDate(comment.create_date) }}.</p>
</div>
</div>
</div>
<script src="../scripts/cookie-parser.js"></script>
<script src="../scripts/test-login.js"></script>
<script src="../scripts/comments.js"></script>
</body>
</html>
