<html>
<head>
<meta charset="utf-8"/>
<title>Comments</title>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<link rel="stylesheet" type="text/css" href="../styles/feed.css">
<head>
<body>
<div id="banner">
  <h1 class="banner-header">Ex Roomies :'( Still Besties :)</h1>
  <div id="banner-links">
    <a href="../html/feed-template.html">Home</a>
    <a href="../html/profile-template.html">My Profile</a>
    <a href="../html/submit-comment.html">New Comment</a>
  </div>
</div>
<div  id="wrapper">
<div id="comment-list">
<div v-for="comment in comments" v-if="comment.content" class="feed-post">
  <h3 class="comment-content">{{ body(comment.content) }}</h3>
  <p>Commented by {{ comment.author }} on {{ formattedDate(comment.create_date) }}.</p>
</div>
</div>
</div>
<script src="../scripts/cookie-parser.js"></script>
<script src="../scripts/comments.js"></script>
</body>
</html>
