<html>
<head>
<meta charset="utf-8"/>
<title>FriendGroup - Comments</title>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<link rel="stylesheet" type="text/css" href="../styles/feed.css">
<link rel="shortcut icon" href="../imgs/favico.png"
<head>
<body>
<div id="outside">
<div id="banner">
	<h1 class="banner-header">{{ groupname }}</h1>
	<div id="banner-links">
		<a class="banner-link" href="../html/feed-template.html">Home</a>
		<a class="banner-link" href="../html/profile-template.html">My Profile</a>
		<a class="banner-link" href="../html/submit-comment.html">New Comment</a>
	</div>
</div>
<div  id="wrapper">
<div id="comment-list">
<p id="empty-label" v-if="comments.length < 1 && !ready" style="font-family: Helvetica; font-size: 18px">Loading...</p>
<div v-for="comment in comments" v-if="comment.content" class="feed-post">
	<h3 v-bind:class="{ 'comment-link': isLink(comment.link), 'comment-content': !isLink(comment.link) }" @click="openPost(comment.link)">{{ body(comment.content) }}</h3>
	<p class="comment-stats">Commented by <a class="author">{{ comment.author }}<span class="tooltip" v-if="ready">Score: {{ getScore(comment.author) }}</a> on {{ formattedDate(comment.date) }}.</p>
</div>
</div>
</div>
</div>
<script src="../scripts/cookie-parser.js"></script>
<script src="../scripts/populate-content.js"></script>
<script src="../scripts/test-login.js"></script>
<script src="../scripts/comments.js"></script>
</body>
</html>
