<html>
<head>
<meta charset="utf-8"/>
<title>FriendGroup - Login/Signup</title>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="../scripts/cookie-parser.js"></script>
<link rel="stylesheet" type="text/css" href="../styles/login.css">
<link rel="shortcut icon" href="../imgs/favico.png"
</head>
<body>
<h1 id="header">Signup for FriendGroup!</h1>
<div id="signup-wrapper">
<div></div>
<div id="form">
	<div></div>
	<div id="signup-content">
		<h3>First enter invite code:</h3>
		<input id="code" class="input" type="text" placeholder="Email Code..." v-model="code">
		<h3>Then your profile info:</h3>
		<input id="first" class="input" type="text" placeholder="Firstname..." v-model="first">
		<input id="last" class="input" type="text" placeholder="Lastname..." v-model="last">
    <input id="pass" class="input" type="password" placeholder="Password..." v-model="pass">
		<div></div>
		<button id="submit" @click="signUp" >Sign Up</button><br>
	</div>
	<div></div>
</div>
<div></div>
</div>
</body>
<script src="../scripts/create-profile.js"></script>
</html>
