<html>
<head>
<meta charset="utf-8"/>
<title>Posts</title>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<link rel="stylesheet" type="text/css" href="../styles/feed.css">
<head>
<body>
<div id="banner">
  <h1 class="banner-header">Ex Roomies :'( Still Besties :)</h1>
  <div id="banner-links">
  <a href="http://jacobsimonson.me/fg-release/0.0.1.html">Release Notes</a>
  <a href="../html/profile-template.html">My Profile</a>
  <a href="../html/submit-post.html">New Post</a>
  </div>
</div>
<div id="wrapper">
<div id="feed-list" style="height=70%">
<div v-for="post in posts" v-if="post.content && !post.parent_id" class="feed-post">
  <div id="feed-upper">
  <a class="vote-button" @click="voteOnPost(post.post_id)"><img src="../imgs/voteicon.png" style="width: 25px; height: 25px"></a>
  <h3 class="post-content" @click="openPost(post.link)">{{ body(post.content) }}</h3>
  </div>
  <div id="feed-lower">
  <p class="post-stats">Posted by {{ post.author }} on {{ formattedDate(post.create_date) }}.</p>
  <a class="comment-button" @click="viewComments(post.post_id)" href="../html/comments-template.html"><img src="../imgs/commenticon.png" style="height: 60px; width: 75px"></a>
  </div>
</div>
</div>
</div>
<script src="../scripts/feed.js"></script>
<script src="../scripts/cookie-parser.js"></script>
</body>
</html>
