<html style="background-color: #737373;">
<head>
<meta charset="utf-8"/>
<title>Posts</title>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<link rel="stylesheet" type="text/css" href="../styles/feed.css">
<head>
<body>
<div id="wrapper">
<div id="banner">
  <h1 class="banner-header">Ex Roomies :'( Still Besties :)</h1>
  <div style="margin-bottom: 25px; font-size: 24">
    <a href="http://jacobsimonson.me/features.html">Release Notes</a>
    <a href="../html/profile-template.html">My profile</a>
    <a href="../html/submit-post.html">New post</a>
  </div>
</div>
<div id="feed-list" style="height=70%">
<div v-for="post in posts" v-if="post.content && !post.parent_id" class="feed-post">
  <div style="width: 90%; height: 60%; margin-left: auto; margin-right: auto">
    <a class="vote-button" @click="voteOnPost(post.post_id)"><img src="../imgs/voteicon.png" style="width: 25px; height: 25px"></a>
    <h3 class="post-content" @click="openPost(post.link)">{{ body(post.content) }}</h3>
  </div>
  <div style="width: 90%; height: 40%; margin-left: auto; margin-right: auto; margin-bottom: 10px; display: flex; align-items: center;">
    <p class="post-stats">Posted by {{ post.author }} on {{ post.create_date }}</p>
    <a class="comment-button" @click="viewComments(post.post_id)" href="../html/comments-template.html"><img src="../imgs/commenticon.png" style="height: 60px; width: 75px"></a>
  </div>
</div>
</div>
</div>
<script src="../scripts/feed.js"></script>
<script src="../scripts/cookie-parser.js"></script>
</body>
</html>
