<html>
<head>
<meta charset="utf-8"/>
<title>Posts</title>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<link rel="stylesheet" type="text/css" href="../styles/feed.css">
<link rel="shortcut icon" href="../imgs/favico.png">
<link rel="manifest" href="../manifest.json">
<head>
<body>
<div id="banner">
  <h1 class="banner-header">Ex Roomies :'( Still Besties :)</h1>
  <div id="banner-links">
  <a class="banner-link" href="https://jacobsimonson.me/fg-release/0.0.4.html">Release 0.0.4</a>
  <a class="banner-link" href="../html/profile-template.html">My Profile</a>
  <a class="banner-link" href="../html/submit-post.html">New Post</a>
  </div>
</div>
<div id="wrapper">
<div id="feed-list" style="height=70%">
<div v-for="post in posts" v-if="post.content && !post.parent_id" class="feed-post">
  <div class="feed-upper">
  <a class="vote-button" @click="voteOnPost(post.post_id)" @mousedown="darkimg($event)" @mouseup="lightimg($event)"><img src="../imgs/voteicon.png" style="width: 25px; height: 25px"></a>
  <h3 v-bind:class="{ 'post-link': isLink(post.link.length), 'post-text': !isLink(post.link.length) }" @click="openPost(post.link)">{{ body(post.content) }}</h3>
  </div>
  <div class="feed-lower">
  <p class="post-stats">Posted by {{ post.author }} on {{ formattedDate(post.create_date) }}.</p>
  <a class="comment-button" @click="viewComments(post.post_id)" href="../html/comments-template.html"><img src="../imgs/commenticon.png" style="height: 60px; width: 75px"></a>
  <h5 v-if="ready" style="text-align: center; font-family: Helvetica; font-size: 16px">{{ numComments(post.post_id) }}</h5>
  </div>
</div>
</div>
</div>
<script type="text/javascript" src="../scripts/feed.js"></script>
<script type="text/javascript" src="../scripts/test-login.js"></script>
<script type="text/javascript" src="../scripts/cookie-parser.js"></script>
</body>
</html>
