<html style="background-color: #ffffe6">
<head>
<meta charset="utf-8"/>
<title>Profile</title>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
</head>
<body>
<div id="wrapper">
<div id="profile" style="background-color: lightgray">
	<h1 v-if="user[0]">Welcome to {{ user[0].firstname }} {{ user[0].lastname }}'s profile!</h1>
	<h2>Contact</h2>
	<p v-if="user[0]">Email: {{ user[0].email }}<br>Phone: {{ user[0].phone }}</p>
</div>
<button @click="alertPassChange">Change Password</button>
</div>
<script src="../scripts/cookie-parser.js"></script>
<script src="../scripts/profile.js"></script>
</body>
</html>
