<html`>
<head>
<meta charset="utf-8"/>
<title>Profile</title>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<link rel="stylesheet" type="text/css" href="../styles/feed.css">
</head>
<body>
<div id="banner">
  <h1 class="banner-header">My Profile</h1>
  <div id="banner-links">
  <a href="../html/feed-template.html">Home</a>
  <a href="../html/submit-post.html">New Post</a>
  </div>
</div>
<div id="wrapper">
<div id="profile" style="background-color: #f5f8ed">
	<h2 v-if="user[0]" style="padding: 10px; font-family: Helvetica">{{ user[0].firstname }} {{ user[0].lastname }}'s contact info</h1>
	<p v-if="user[0]" style="padding: 10px; font-family: serif">Email: {{ user[0].email }}<br>Phone: {{ user[0].phone }}</p>
</div><button @click="alertPassChange">Change Password</button>
</div>
<script src="../scripts/cookie-parser.js"></script>
<script src="../scripts/test-login.js"></script>
<script src="../scripts/profile.js"></script>
</body>
</html>
