<html`>
<head>
<meta charset="utf-8"/>
<title>Profile</title>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<link rel="stylesheet" type="text/css" href="../styles/feed.css">
<link rel="shortcut icon" href="../imgs/favico.png"
</head>
<body>
<div id="banner">
  <h1 class="banner-header">My Profile</h1>
  <div id="banner-links">
  <a class="banner-link" href="../html/feed-template.html">Home</a>
  <a class="banner-link" href="../html/submit-post.html">New Post</a>
  </div>
</div>
<div id="wrapper">
<div id="profile" style="background-color: #f5f8ed">
	<h2 v-if="user[0]" style="padding: 10px; font-family: Helvetica">{{ user[0].firstname }} {{ user[0].lastname }}</h1>
	<p v-if="ready" style="padding: 10px; font-family: serif; font-size: 20px">Score: {{ score }}</p>
	<p style="padding: 10px; font-family: serif; font-size: 20px">Groups:</p>
	<ul>
		<li style="padding-bottom: 10px"><a href="https://friendgroup.jacobsimonson.me/html/feed-template.html">Ex Roomies :'( Still Besties :)</a></li>
	</ul>
</div><button @click="alertPassChange">Change Password</button>
</div>
<script src="../scripts/cookie-parser.js"></script>
<script src="../scripts/test-login.js"></script>
<script src="../scripts/profile.js"></script>
</body>
</html>
