.input-link {
  width: 75%;
  height: 75px;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto
}

.input-text {
  width: 75%;
  height: 150px;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto
}

.sub-form {
  text-align: center;
  background-color: #f5f8ed;
  padding: 30px
}

.sub-button {
  font-family: calibri;
  font-size: 48px;
  width: 75%;
  height: 75px;
  margin-left: auto;
  margin-right: auto
}
