.group-link {
	text-decoration: underline;
	color: blue;
}

.group-link:hover {
	cursor: pointer;
}

.invite-button {
	text-decoration: underline;
	color: blue;
}

.invite-button:hover {
	cursor: pointer;
}
.prof-button {
	font-size: 28px;
	padding: 10px;
	cursor: pointer;
	font-family: Helvetica;
	font-color: #2b2b2b
}

#group-link {
	font-size: 24px;
}
