h3 {
	padding: 10px;
	font-family: Helvetica;
	font-size: 36px;
	color: #2b2b2b;
}

#groups-header {
	display: grid;
	grid-template-columns: 4fr 1fr;
}

.group-link {
	text-decoration: none;
	color: black;
	font-size: 36px;
	font-family: serif;
}

.group-link:hover {
	cursor: pointer;
}

#profile {
	background-color: #f5f8ed;
	padding: 20px;
	margin-top: 5px;
	margin-bottom: 100px;
}

.invite-button {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	text-decoration: none;
	color: black;
	background-color: lightgrey;
	text-align: center;
	border: 1px outset lightgrey;
	border-radius: 2px;
}

button {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	text-decoration: none;
	color: black;
	background-color: lightgrey;
	text-align: center;
	border: 1px solid lightgrey;
	border-radius: 2px;
}

.invite-button:hover {
	cursor: pointer;
}

.prof-button {
	font-size: 28px;
	padding: 10px;
	cursor: pointer;
	font-family: serif;
	font-color: #2b2b2b
}

.group-card {
	display: grid;
	grid-template-columns: 3fr 1fr 1fr 1fr;
	background-color: #f5f8ed;
	border-style: outset;
	border-width: 1px;
	border-top-color: white;
	border-left-color: white;
	border-bottom-color: lightgray;
	border-right-color: lightgray;
	padding: 35px;
	margin: 5px 1px 10px 1px;
}

#group-link {
	font-size: 24px;
}
